<section class="recent-projects">
  <p>All tasks:</p>
  <table class="recent-projects-table">
    <tr>
      <th>Name</th>
    </tr>
    <% paginate_items(@clients, @page) do |client| %>
      <tr>
        <td><%= client["name"] %></td>
        <td><a id="edit-client" href="/edit/client/<%= client["id"] %>">Edit</a></td>
        <td>
          <form class="delete" action="/client/delete" method="post">
            <input type="hidden" name="client_id" value="<%= client["id"] %>">
            <input type="hidden" name="url" value="<%= @current_path %>">
            <input type="submit" value="delete">
          </form>
        </td>
      </tr>
    <% end %>
  </table>
  <div class="page">
  <a href="/clients/all/<%= @page - 1 %>">previous</a><p>... Page <%= @page %> / <%= @page_count %> ...</p><a href="/clients/all/<%= @page + 1 %>">next</a>
  </div>
</section>